header 
    {display: inline-block; 
    vertical-align: top}

    .topNavBarUl 
    {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;}
  
  .topNavBarli
   {float: right;}
  
  .topNavBarli a 
    {display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
    .footerNavli {
        display: inline-block;
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .heroImg {
        display: grid;
        grid-template-columns: 1fr 4fr;
      }